<?xml version="1.0"?>
<config>
    <modules>
        <Sp_Importzento>
            <version>0.1.0</version>
        </Sp_Importzento>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <importzento>
                    <file>importzento.xml</file>
                </importzento>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <importzento>
                <class>Sp_Importzento_Block</class>
            </importzento>
        </blocks>
        <models>
            <importzento>
                <class>Sp_Importzento_Model</class>
            </importzento>
        </models>
        <helpers>
            <importzento>
                <class>Sp_Importzento_Helper</class>
            </importzento>
        </helpers>
        <resources>
            <importzento_setup>
                <setup>
                    <module>Sp_Importzento</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </importzento_setup>
            <importzento_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </importzento_write>
            <importzento_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </importzento_read>
        </resources>
    </global>
    <default>
    </default>
</config>
