<?xml version="1.0"?>
<config>
    <modules>
        <Sp_Ajaxify>
            <version>0.1.0</version>
        </Sp_Ajaxify>
    </modules>
    <frontend>
        <routers>
            <ajaxify>
                <use>standard</use>
                <args>
                    <module>Sp_Ajaxify</module>
                    <frontName>ajaxify</frontName>
                </args>
            </ajaxify>
        </routers>
        <layout>
            <updates>
                <ajaxify>
                    <file>ajaxify.xml</file>
                </ajaxify>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ajaxify>
				<use>admin</use>
				<args>
					<module>Sp_Ajaxify</module>
					<frontName>ajaxify</frontName>
				</args>
			</ajaxify>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<ajaxify>
					<file>ajaxify.xml</file>
				</ajaxify>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ajaxify>
                <class>Sp_Ajaxify_Model</class>
            </ajaxify>
        </models>
        <resources>
            <ajaxify_setup>
                <setup>
                    <module>Sp_Ajaxify</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxify_setup>
            <ajaxify_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxify_write>
            <ajaxify_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxify_read>
        </resources>
        <blocks>
            <ajaxify>
                <class>Sp_Ajaxify_Block</class>
            </ajaxify>
        </blocks>
        <helpers>
            <ajaxify>
                <class>Sp_Ajaxify_Helper</class>
            </ajaxify>
        </helpers>
    </global>
</config>